body {
  background-color: #ffffff;
}

/* horizontal bar */
.horizontal-bar {
  background-color: #FF5BAE;
  color: white;
  text-align: center;
  padding: 10px 0; 
  width: 100%;
}

/* top navi */

.topnavigation {
  overflow: hidden; 
  text-align: center;

}

.topnavigation a {
  color: #000000; 
  text-decoration: none;
  font-size: 20px; 
  font-family: Sunny Spells;
  letter-spacing: 5px;
  padding: 10px 20px;

}

.topnav a.active {
  background-color: #FF5BAE;
  
}

.topnavigation a:hover {
  color: #FF5BAE;
  border-bottom: 2px solid #3465fc;
} 


/* text wrap and slide */
.vwrap, .vslide { 
  width: 100%; 
  height: 30px; /* Adjust height as needed */
}

.vwrap { 
  overflow: hidden; 
}
 
/* CENTER TEXT */
.vslide {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #FFE6E6;
  font-family: Sunny Spells;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 16px;
  color: #C683D7; 
  text-decoration: none;
}


.vslide a:hover {
  color: #666; /* Text color on hover */
}
 
/* SLIDES POSITION */
.vmove { 
  position: relative; 
  bottom: 0%; 
}

/*  MOVE SLIDES */
@keyframes slidev {
  0% { bottom: 0; } 
  24% { bottom: 0; }
  25% { bottom: 100%; } 
  49% { bottom: 100%; }
  50% { bottom: 200%; } 
  74% { bottom: 200%; }
  75% { bottom: 300%; } 
  99% { bottom: 300%; }
  100% { bottom: 0; }
}
 
.vmove { 
  animation: slidev 12s infinite; 
}

.vmove:hover { 
  animation-play-state: paused; 
}


/* table (in about me page) */
table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid  #FF5BAE;
    padding: 10px;
    text-align: center;
}

th {
    background-color:  #FFE6E6;
    color: #000000;
}
 
 
    
   

/* art page */
:root {
 
  --curve: 40;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  width: 240px;
  height: 340px;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 3.5em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: #FFD0D0;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 30px;
  height: 30px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row {
    margin-bottom: 20px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


/*friends page */
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}



/* contact form */

.contact-container {
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.contact-form {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.contact-inputs {
    width: 100%; 
    height: 50px;
    margin: 5px 0;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 500;
    background-color: #FFE6E6;
    border-radius: 50px;
}

.contact-form textarea.contact-inputs {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #FF5BAE;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #e04b96;
}






/*footer */

.footer {
    background: #FF5BAE;
    width: 100%;
    text-align: center;
    padding: 33px 50px;
    margin: 0 auto;
}

.footer a {
    color: #ffffff;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}



.social-buttons {
    font-size: 0; 
}

.social-buttons a {
    display: inline-block;
    margin-right: 50px;
}

.social-buttons img {
    width: 60px; 
}


.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
}

.footer-links a:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.datemodified,
.modified {
    font-family: Arial;
    text-align: right;
    margin: 20px 0;
    font-size: 15px;
    color: #ffffff;
}
